{% extends "base.html" %}

{% block block_1 %}
<h1>Пейзажи Марса</h1>
<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="static/img/one.jpg" class="d-block w-70" alt="здесь должна была быть картинка, но не нашлась">
        </div>
        {% for user in ['static/img/one.jpg', 'static/img/two.jpg'] %}
        <div class="carousel-item" data-bs-interval="5000">
            <img src={{ user }} class="d-block w-70" alt="здесь должна была быть картинка, но не нашлась">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div id="photoform">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="photo">Добавить картинку</label><br/>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div><br/>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock %}
